# Binaries
/clawexec-mister-fpga
/clawexec-mister-fpga-send
clawexec-mister-fpga-send-*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
